<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pronounceability</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/app.css">
    <script src="//use.fontawesome.com/d8463c69cf.js"></script>
</head>
<body>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Pronounceability</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-1 col-xs-2 no-padding text-center form-label">
                    <label class="control-label">is</label>
                </div>
                <div class="col-md-8 col-xs-10 no-padding form-input">
                    <input class="form-control no-radious" type="text" name="word" placeholder="banana">
                </div>
                <div class="col-md-3 no-padding form-button">
                    <button class="btn btn-primary btn-block no-radious" type="submit">pronounceable?</button>
                </div>
            </div>
        </form>
    </div>
    <div class="footer text-center">
        <p><a href="//github.com/nadermx/pronounceability"><i class="fa fa-github"></i> github</a></p>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="static/scripts/app.js"></script>
</body>
</html>